h1 Sorteio Dinâmico

h2 Números Participantes:
ul class="number-table"
  - @all_numbers.each do |number|
    li class="participant-number" = number

h2 Número Sorteado:
p id="sorted-number" data-sorted-number = @lottery.result

