p
  | Oi #{@resource.email}!
p Foi requisitado um link para alterar sua senha. Você pode fazer isto através di link abaixo.
p= link_to 'Alterar minha seinha', edit_password_url(@resource, :reset_password_token => @token)
p Se você não requisitou isto, por favor ignore este e-mail.
p Sua senha não será alterada se você não acessar o link acima e criar uma nova.
